---
- name: Create amnezia directory
  file:
    path: /etc/amnezia/amneziawg
    state: directory
    mode: '0755'
  become: true

- name: Enable deb-src for APT sources (Ubuntu 24.04+)
  replace:
    path: /etc/apt/sources.list.d/ubuntu.sources
    regexp: '^Types: deb$'
    replace: 'Types: deb deb-src'
  become: true
  when: ansible_distribution_version is version('24.04', '>=')

- name: Enable deb-src for APT sources (Ubuntu 22.04)
  replace:
    path: /etc/apt/sources.list
    regexp: '^deb\s+(.*)$'
    replace: 'deb \1\ndeb-src \1'
  become: true
  when: ansible_distribution_version is version('24.04', '<')

- name: Update APT cache
  apt:
    update_cache: true
  become: true

- name: Install required packages
  apt:
    name:
      - curl
      - gnupg
      - lsb-release
      - apt-transport-https
      - ca-certificates
      - linux-headers-{{ ansible_kernel }}
    state: present
  become: true

- name: Enable IPv4 and IPv6 forward
  blockinfile:
    path: /etc/sysctl.conf
    block: |
      net.ipv4.ip_forward = 1
      net.ipv6.conf.all.forwarding = 1
      net.ipv6.conf.all.proxy_ndp = 1
  become: true

- name: Reload sysctl
  command: sysctl -p /etc/sysctl.conf
  become: true

- name: Add AmneziaWG repository
  apt_repository:
    repo: "ppa:amnezia/ppa"
    state: present
    filename: amnezia
  become: true

- name: Install AmneziaWG
  apt:
    name: amneziawg
    state: present
    update_cache: yes
  become: true

- name: Load the amneziawg kernel module
  modprobe:
    name: amneziawg
    state: present
  become: true

- name: Add amneziawg to auto-startup kernel modules
  lineinfile:
    dest: /etc/modules-load.d/amnezia.conf
    line: 'amneziawg'
    create: yes
  become: true
