{% set mtproto_bindings = vpn_tgproxy_mtproto %}
services:
{% for binding in mtproto_bindings %}
{% set secret = binding.secret | string %}
{% set secure_secret = (secret | regex_search('^dd[0-9A-Fa-f]{32}$')) %}
{% set fake_tls_secret = (secret | regex_search('^ee[0-9A-Fa-f]{34,}$')) %}
  mtproto_{{ loop.index }}:
{% if not fake_tls_secret %}
    image: telegrammessenger/proxy:latest
{% else %}
    image: nineseconds/mtg:2.2.8
{% endif %}
    pull_policy: always
    restart: always
    security_opt:
      - no-new-privileges:true
{% if not fake_tls_secret %}
    environment:
      SECRET: "{{ secret[2:] if secure_secret else secret }}"
    volumes:
      - /opt/mtproto-proxy/data/mtproto_{{ loop.index }}:/data
{% else %}
    command:
      - simple-run
      - 0.0.0.0:3128
      - "{{ binding.secret }}"
{% endif %}
    ports:
{% if not fake_tls_secret %}
      - "{{ binding.port }}:443/tcp"
{% else %}
      - "{{ binding.port }}:3128/tcp"
{% endif %}
{% endfor %}
