{% set mtproto_bindings = vpn_tgproxy_mtproto %}
services:
{% for binding in mtproto_bindings %}
  mtproto_{{ loop.index }}:
{% if (binding.secret | string | length) < 42 %}
    image: telegrammessenger/proxy:latest
{% else %}
    image: nineseconds/mtg:2.2.8
{% endif %}
    pull_policy: always
    restart: always
    security_opt:
      - no-new-privileges:true
{% if (binding.secret | string | length) < 42 %}
    environment:
      SECRET: "{{ binding.secret }}"
    volumes:
      - /opt/mtproto-proxy/data/mtproto_{{ loop.index }}:/data
{% else %}
    command:
      - simple-run
      - 0.0.0.0:3128
      - "{{ binding.secret }}"
{% endif %}
    ports:
{% if (binding.secret | string | length) < 42 %}
      - "{{ binding.port }}:443/tcp"
{% else %}
      - "{{ binding.port }}:3128/tcp"
{% endif %}
{% endfor %}
