# Docker configuration backend
providers:
  docker:
    defaultRule: 'Host(`{% raw %}{{ trimPrefix "/" .Name }}{% endraw %}.{{ traefik_base_domain }}`)'
    exposedByDefault: false

# API and dashboard configuration
api:
  insecure: true

entryPoints:
  web:
    address: ":80"
    http:
      redirections:
        entrypoint:
          to: websecure
          scheme: https

  websecure:
    address: ":443"

certificatesResolvers:
  le:
    acme:
      email: "{{ acme_email }}"
      storage: "/etc/traefik/acme.json"
      tlsChallenge: {}
