http:
  routers:
    router-home:
      rule: "Host(`{{ traefik_router_domain }}`)"
      service: router-home-service
      entryPoints:
        - web
        - websecure
      middlewares:
        - auth
      tls:
        certResolver: le
  services:
    router-home-service:
      loadBalancer:
        servers:
          - url: "http://10.9.9.2"
  middlewares:
    auth:
      basicauth:
        users: {{ traefik_users | default(omit) }}
