# Updated by Ansible

[Time]
NTP={{ ntp_primary_server | default("pool.ntp.org") }}
FallbackNTP={{ ntp_secondary_server | default("ntp.ubuntu.com") }}
#RootDistanceMaxSec=5
#PollIntervalMinSec=32
#PollIntervalMaxSec=2048
