{
  "server": "{{ mptcp_shadowsocks_client.server_address }}",
  "server_port": {{ mptcp_shadowsocks_server.port }},
  "method": "{{ mptcp_shadowsocks_server.method }}",
  "password": "{{ mptcp_shadowsocks_key_value }}",
  "mode": "tcp_and_udp",
  "mptcp": true,
  "locals": [{
    "protocol": "tun",
    "tun_interface_name": "{{ mptcp_shadowsocks_client.tun_name }}",
    "tun_interface_address": "{{ mptcp_shadowsocks_client.tun_address }}",
    "tun_interface_mtu": {{ mptcp_shadowsocks_client.tun_mtu }}
  }]
}
