---
- hosts:
    - nvidia
  become: true
  gather_facts: true
  any_errors_fatal: true
  pre_tasks:
    - name: Pausing for 5 seconds...
      pause:
        seconds: 5
  vars:
    nvidia_driver_version: "580"
  tasks:
    - name: Download NVIDIA GPG key
      ansible.builtin.get_url:
        url: https://nvidia.github.io/libnvidia-container/gpgkey
        dest: /tmp/nvidia-container-toolkit.gpg.key
        mode: '0644'

    - name: Dearmor and install NVIDIA GPG key
      ansible.builtin.shell: |
        cat /tmp/nvidia-container-toolkit.gpg.key | gpg --dearmor -o /usr/share/keyrings/nvidia-container-toolkit-keyring.gpg
      args:
        creates: /usr/share/keyrings/nvidia-container-toolkit-keyring.gpg

    - name: Create nvidia-container-toolkit sources file (DEB822 format)
      ansible.builtin.copy:
        dest: /etc/apt/sources.list.d/libnvidia-container.sources
        content: |
          Enabled: yes
          Types: deb
          URIs: https://nvidia.github.io/libnvidia-container/stable/deb/$(ARCH)
          Suites: /
          Signed-By: /usr/share/keyrings/nvidia-container-toolkit-keyring.gpg
        mode: '0644'

    - name: Upgrade all system packages
      ansible.builtin.apt:
        upgrade: full
        update_cache: true
        cache_valid_time: 3600
        autoclean: true
        autoremove: true
      register: apt_upgrade
      retries: 5
      until: apt_upgrade is success

    - name: Install nvidia-container-toolkit
      ansible.builtin.apt:
        name:
          - nvidia-container-toolkit
          - "nvidia-headless-{{ nvidia_driver_version }}-server"
          - "libnvidia-encode-{{ nvidia_driver_version }}-server"
          - "libnvidia-decode-{{ nvidia_driver_version }}-server"
          - "nvidia-utils-{{ nvidia_driver_version  }}-server"
        install_recommends: false
        update_cache: true
        cache_valid_time: 3600
        autoclean: true
        autoremove: true
      register: apt_install_nvidia_ctr
      retries: 5
      until: apt_install_nvidia_ctr is success

    - name: Enable no-cgroups in nvidia-container-runtime config
      ansible.builtin.lineinfile:
        path: /etc/nvidia-container-runtime/config.toml
        regexp: '^#\s*no-cgroups = false'
        line: 'no-cgroups = false'
        backup: yes

    - name: Restart k3s-agent service
      ansible.builtin.service:
        name: k3s.service
        daemon_reload: true
        enabled: true
        state: restarted
