---
kubernetes:
  children:
    master:
      hosts:
        k3s-server: {}
    worker:
      hosts: {}

nvidia:
  hosts:
    k3s-server: {}

ubuntu:
  hosts:
    k3s-server: {}
    vps-1: {}

vpn-server:
  hosts:
    vps-1: {}
    vps-3: {}

scrutiny-collector:
  hosts:
    pve: {}

iperf3-stats:
  hosts:
    vps-1:
      iperf3_server_enabled: true
    vps-3:
      iperf3_server_enabled: true
    k3s-server:
      iperf3_server_enabled: true
      iperf3_client_enabled: true
    owrt-spb:
      iperf3_server_enabled: true
      iperf3_client_enabled: true
    casa-sok:
      iperf3_server_enabled: true
      iperf3_client_enabled: true

reverse-proxy:
  hosts:
    vps-1: {}

signal-tls-proxy:
  hosts:
    vps-1: {}
