services:
  3xui:
    image: '{{ xui_image | default("ghcr.io/mhsanaei/3x-ui") }}:{{ xui_version }}'
    hostname: '{{ xui_hostname }}'
    pull_policy: always
    restart: always
    tty: true
    security_opt:
      - no-new-privileges:true
    cap_add:
      - NET_ADMIN
      - SYS_MODULE
    sysctls:
      net.ipv4.conf.all.src_valid_mark: "1"
{% if xui_custom_ports is defined %}
    ports:
{% for port in xui_custom_ports %}
      - "{{ port }}"
{% endfor %}
{% endif %}
    devices:
      - /dev/net/tun
    volumes:
      - ./db/:/etc/x-ui/
      - ./cert/:/root/cert/
    environment:
      - "TZ={{ timezone | default('UTC') }}"
      - "XRAY_VMESS_AEAD_FORCED=false"
      - "XUI_ENABLE_FAIL2BAN=false"
{% if xui_custom_env is defined %}
{% for env in xui_custom_env %}
      - "{{ env }}"
{% endfor %}
{% endif %}

    labels:
      - "traefik.enable=true"
      - "traefik.docker.network={{ xui_network }}"

      - "traefik.tcp.routers.xui-proxy.service=xui-proxy"
      - "traefik.tcp.routers.xui-proxy.entrypoints=websecure"
      - "traefik.tcp.routers.xui-proxy.rule={% if xui_domain_masking is iterable and xui_domain_masking is not string %}{% for domain in xui_domain_masking %}HostSNI(`{{ domain }}`) || {% endfor %}{% else %}HostSNI(`{{ xui_domain_masking }}`) || {% endif %}HostSNI(`{{ xui_domain_proxy }}`)"
      - "traefik.tcp.routers.xui-proxy.tls=true"
      - "traefik.tcp.routers.xui-proxy.tls.passthrough=true"
      - "traefik.tcp.services.xui-proxy.loadbalancer.server.port=443"

      - "traefik.http.services.xui-admin.loadbalancer.server.scheme=http"
      - "traefik.http.services.xui-admin.loadbalancer.server.port=2053"

      # - traefik.http.routers.xui-admin-http.service: "xui-admin"
      # - traefik.http.routers.xui-admin-http.entrypoints: "web"
      # - traefik.http.routers.xui-admin-http.rule: "Host(`{{ xui_domain_admin }}`)"

      - "traefik.http.routers.xui-admin.service=xui-admin"
      - "traefik.http.routers.xui-admin.rule=Host(`{{ xui_domain_admin }}`)"
      - "traefik.http.routers.xui-admin.entrypoints=websecure"
      - "traefik.http.routers.xui-admin.tls=true"
      - "traefik.http.routers.xui-admin.tls.certresolver=le"

      - "traefik.http.services.xui-sub.loadbalancer.server.scheme=http"
      - "traefik.http.services.xui-sub.loadbalancer.server.port=2096"

      # - traefik.http.routers.xui-sub-http.service: "xui-sub"
      # - traefik.http.routers.xui-sub-http.rule: "Host(`{{ xui_domain_sub }}`)"
      # - traefik.http.routers.xui-sub-http.entrypoints: "web"

      - "traefik.http.routers.xui-sub.service=xui-sub"
      - "traefik.http.routers.xui-sub.rule=Host(`{{ xui_domain_sub }}`)"
      - "traefik.http.routers.xui-sub.entrypoints=websecure"
      - "traefik.http.routers.xui-sub.tls=true"
      - "traefik.http.routers.xui-sub.tls.certresolver=le"

    networks:
{% if xui_networks is defined %}
{% for network in xui_networks %}
      - {{ network.name }}
{% endfor %}
{% endif %}

networks:
{% if xui_networks is defined %}
{% for network in xui_networks %}
  {{ network.name }}:
    external: true
    name: {{ network.name }}
{% endfor %}
{% endif %}
