[Interface]
PrivateKey = {{ interface.private_key }}
#_PublicKey = {{ interface.public_key }}
{% set nft_table = 'awg_' ~ interface_name %}

Address = {{ interface.address_v4 }}/{{ interface.subnet_v4 }}{% if interface.address_v6 is defined %}, {{ interface.address_v6 }}/{{ interface.subnet_v6 }}{% endif %}

{% if interface.port is defined %}
ListenPort = {{ interface.port }}
{% endif %}
Jc = {{ interface.jc }}
Jmin = {{ interface.jmin }}
Jmax = {{ interface.jmax }}
S1 = {{ interface.s1 }}
S2 = {{ interface.s2 }}
H1 = {{ interface.h1 }}
H2 = {{ interface.h2 }}
H3 = {{ interface.h3 }}
H4 = {{ interface.h4 }}

{% if interface.mode == 'server' %}
# Server mode: nftables-managed rules
PostUp = nft add table inet {{ nft_table }}
PostUp = nft 'add chain inet {{ nft_table }} input { type filter hook input priority filter; policy accept; }'
PostUp = nft 'add chain inet {{ nft_table }} forward { type filter hook forward priority filter; policy accept; }'
PostUp = nft 'add chain inet {{ nft_table }} prerouting { type nat hook prerouting priority dstnat; policy accept; }'
PostUp = nft 'add chain inet {{ nft_table }} postrouting { type nat hook postrouting priority srcnat; policy accept; }'
PostUp = nft add rule inet {{ nft_table }} input udp dport {{ interface.port }} ct state new accept
PostUp = nft add rule inet {{ nft_table }} forward iifname "{{ awg_public_interface }}" oifname "%i" accept
PostUp = nft add rule inet {{ nft_table }} forward iifname "%i" accept
PostUp = nft add rule inet {{ nft_table }} forward tcp flags syn tcp option maxseg size set 1280
PostUp = nft add rule inet {{ nft_table }} postrouting oifname "{{ awg_public_interface }}" masquerade
#PostUp = nft add rule inet {{ nft_table }} prerouting iifname "%i" udp dport 53 redirect to :53
#PostUp = nft add rule inet {{ nft_table }} prerouting iifname "%i" tcp dport 53 redirect to :53
{% if interface.target_routing_table is defined %}
PostUp = ip rule add iif "%i" table {{ interface.target_routing_table }}
PostDown = ip rule del iif "%i" table {{ interface.target_routing_table }}
{% endif %}

PostDown = nft delete table inet {{ nft_table }}
{% elif interface.mode == 'client' %}
# Client mode: nftables-managed forwarding for tunnel egress
PostUp = nft add table inet {{ nft_table }}
PostUp = nft 'add chain inet {{ nft_table }} forward { type filter hook forward priority filter; policy accept; }'
PostUp = nft add rule inet {{ nft_table }} forward oifname "%i" accept
PostUp = nft add rule inet {{ nft_table }} forward iifname "%i" accept

PostDown = nft delete table inet {{ nft_table }}
{% endif %}

{% if interface.routing_table is defined %}
# Custom routing table configuration
Table = {{ interface.routing_table }}
{% if interface.routing_rules is defined %}
{% for rule in interface.routing_rules %}
{% if rule.from is defined %}
PostUp = ip rule add from {{ rule.from }} table {{ rule.table | default(interface.routing_table) }}
PostDown = ip rule del from {{ rule.from }} table {{ rule.table | default(interface.routing_table) }}
{% endif %}
{% if rule.to is defined %}
PostUp = ip rule add to {{ rule.to }} table {{ rule.table | default(interface.routing_table) }}
PostDown = ip rule del to {{ rule.to }} table {{ rule.table | default(interface.routing_table) }}
{% endif %}
{% if rule.iif is defined %}
PostUp = ip rule add iif {{ rule.iif }} table {{ rule.table | default(interface.routing_table) }}
PostDown = ip rule del iif {{ rule.iif }} table {{ rule.table | default(interface.routing_table) }}
{% endif %}
{% if rule.oif is defined %}
PostUp = ip rule add oif {{ rule.oif }} table {{ rule.table | default(interface.routing_table) }}
PostDown = ip rule del oif {{ rule.oif }} table {{ rule.table | default(interface.routing_table) }}
{% endif %}
{% endfor %}
{% endif %}
{% endif %}

{% if interface.mode == 'server' %}
{% for peer in interface.peers %}

[Peer]
# _Name = {{ peer.name }}
# _PrivateKey = {{ peer.private_key }}
PublicKey = {{ peer.public_key }}
{% if peer.preshared_key is defined %}
PresharedKey = {{ peer.preshared_key }}
{% endif %}
AllowedIPs = {{ peer.address_v4 }}/{{ interface.clients_subnet_v4 | default('32') }}{% if peer.address_v6 is defined %}, {{ peer.address_v6 }}/{{ interface.clients_subnet_v6 | default('128') }}{% endif %}

{% if peer.endpoint is defined %}
Endpoint = {{ peer.endpoint }}
{% endif %}

{% endfor %}
{% elif interface.mode == 'client' %}

[Peer]
# Remote server
PublicKey = {{ interface.remote_public_key }}
{% if interface.remote_preshared_key is defined %}
PresharedKey = {{ interface.remote_preshared_key }}
{% endif %}
AllowedIPs = {{ interface.remote_allowed_ips | default('0.0.0.0/0, ::/0') }}

Endpoint = {{ interface.remote_endpoint }}
PersistentKeepalive = 25
{% endif %}
