{
    "log": {
        "level": "info"
    },
    "route": {
        "rule_set": [
            {
                "tag": "geoip-nl",
                "type": "remote",
                "format": "binary",
                "url": "https://raw.githubusercontent.com/SagerNet/sing-geoip/rule-set/geoip-nl.srs",
                "download_detour": "vless-reality"
            },
            {
                "tag": "geoip-de",
                "type": "remote",
                "format": "binary",
                "url": "https://raw.githubusercontent.com/SagerNet/sing-geoip/rule-set/geoip-de.srs",
                "download_detour": "vless-reality"
            },
            {
                "tag": "geoip-ru",
                "type": "remote",
                "format": "binary",
                "url": "https://raw.githubusercontent.com/SagerNet/sing-geoip/rule-set/geoip-ru.srs",
                "download_detour": "vless-reality"
            },
            {
                "tag": "geosite-speedtest",
                "type": "remote",
                "format": "binary",
                "url": "https://raw.githubusercontent.com/SagerNet/sing-geosite/rule-set/geosite-speedtest.srs",
                "download_detour": "vless-reality"
            },
            {
                "tag": "geosite-openai",
                "type": "remote",
                "format": "binary",
                "url": "https://raw.githubusercontent.com/SagerNet/sing-geosite/rule-set/geosite-openai.srs",
                "download_detour": "vless-reality"
            },
            {
                "tag": "geosite-youtube",
                "type": "remote",
                "format": "binary",
                "url": "https://raw.githubusercontent.com/SagerNet/sing-geosite/rule-set/geosite-youtube.srs",
                "download_detour": "vless-reality"
            },
            {
                "tag": "geosite-openweather",
                "type": "remote",
                "format": "binary",
                "url": "https://raw.githubusercontent.com/SagerNet/sing-geosite/rule-set/geosite-openweather.srs",
                "download_detour": "vless-reality"
            },
            {
                "tag": "geosite-twitter",
                "type": "remote",
                "format": "binary",
                "url": "https://raw.githubusercontent.com/SagerNet/sing-geosite/rule-set/geosite-twitter.srs",
                "download_detour": "vless-reality"
            },
            {
                "tag": "geosite-linkedin",
                "type": "remote",
                "format": "binary",
                "url": "https://raw.githubusercontent.com/SagerNet/sing-geosite/rule-set/geosite-linkedin.srs",
                "download_detour": "vless-reality"
            },
            {
                "tag": "geosite-tor",
                "type": "remote",
                "format": "binary",
                "url": "https://raw.githubusercontent.com/SagerNet/sing-geosite/rule-set/geosite-tor.srs",
                "download_detour": "vless-reality"
            },
            {
                "tag": "geosite-torproject",
                "type": "remote",
                "format": "binary",
                "url": "https://raw.githubusercontent.com/SagerNet/sing-geosite/rule-set/geosite-torproject.srs",
                "download_detour": "vless-reality"
            },
            {
                "tag": "geosite-instagram",
                "type": "remote",
                "format": "binary",
                "url": "https://raw.githubusercontent.com/SagerNet/sing-geosite/rule-set/geosite-instagram.srs",
                "download_detour": "vless-reality"
            },
            {
                "tag": "geosite-discord",
                "type": "remote",
                "format": "binary",
                "url": "https://raw.githubusercontent.com/SagerNet/sing-geosite/rule-set/geosite-discord.srs",
                "download_detour": "vless-reality"
            },
            {
                "tag": "geosite-category-ads-all",
                "type": "remote",
                "format": "binary",
                "url": "https://raw.githubusercontent.com/SagerNet/sing-geosite/rule-set/geosite-category-ads-all.srs",
                "download_detour": "vless-reality"
            }
        ],

        "rules": [
            {
                "rule_set": [
                    "geosite-speedtest",
                    "geosite-openai",
                    "geosite-youtube",
                    "geosite-openweather",
                    "geosite-twitter",
                    "geosite-linkedin",
                    "geosite-tor",
                    "geosite-torproject",
                    "geosite-instagram",
                    "geosite-discord",
                    "geosite-category-ads-all",
                    "geoip-de",
                    "geoip-nl"
                ],
                "outbound": "vless-reality"
            },

            {
                "domain_suffix": [
                    "ifconfig.co"
                ],
                "outbound": "vless-reality"
            },

            {
                "domain_suffix": [
                    ".discord.gg",
                    ".discord.media"
                ],
                "outbound": "vless-reality"
            },

            {
                "inbound": [
                    "socks-in-always-proxy",
                    "http-in-always-proxy"
                ],
                "outbound": "vless-reality"
            },

            {
                "domain_suffix": [
                    ".ru",
                    ".vk.com",
                    ".xn--p1ai",
                    ".xn--p1acf",
                    ".xn--80asehdb",
                    ".xn--80aswg"
                ],
                "outbound": "direct"
            }
        ]
    },
    "inbounds": [
        {
            "type": "socks",
            "tag": "socks-in",

            "listen": "::",
            "listen_port": 1089,
            "sniff": true,
            "sniff_override_destination": true
        },
        {
            "type": "http",
            "tag": "http-in",

            "listen": "::",
            "listen_port": 8889,
            "sniff": true,
            "sniff_override_destination": true
        },
        {
            "type": "socks",
            "tag": "socks-in-always-proxy",

            "listen": "::",
            "listen_port": 1090
        },
        {
            "type": "http",
            "tag": "http-in-always-proxy",

            "listen": "::",
            "listen_port": 8890
        },
        {
            "type": "tproxy",
            "tag": "tproxy-in",

            "listen": "::",
            "listen_port": 12345,
            "tcp_fast_open": true,
            "tcp_multi_path": false,
            "udp_fragment": true,
            "udp_timeout": "5m",
            "sniff": true,
            "sniff_override_destination": false,
            "sniff_timeout": "300ms",
            "domain_strategy": "prefer_ipv4"
        }
    ],
    "outbounds": [
        {
            "type": "vless",

            "server": "{{ vless_address }}",
            "server_port": 443,
            "uuid": "{{ vless_uuid }}",
            "flow": "xtls-rprx-vision",
            "network": "tcp",
            "tls": {
                "enabled": true,
                "insecure": false,
                "reality": {
                    "enabled": true,
                    "public_key": "{{ vless_public_key }}",
                    "short_id": "{{ vless_short_id }}"
                },
                "utls": {
                    "enabled": true,
                    "fingerprint": "random"
                },
                "server_name": "{{ vless_server_name }}"
            },

            "tag": "vless-reality"
        },
        {
            "type": "direct",
            "tag": "direct"
        },
        {
            "type": "block",
            "tag": "block"
        }
    ]
}
