---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - https://raw.githubusercontent.com/movetokube/postgres-operator/2.4.0/deploy/crds/db.movetokube.com_postgres_crd.yaml
  - https://raw.githubusercontent.com/movetokube/postgres-operator/2.4.0/deploy/crds/db.movetokube.com_postgresusers_crd.yaml
