---
# https://rancher.com/docs/k3s/latest/en/installation/install-options/server-config/
# https://github.com/PyratLabs/ansible-role-k3s

# (bool) Specify if a host (or host group) are part of the control plane
k3s_control_node: true
k3s_build_cluster: false

# (dict) k3s settings for all control-plane nodes
k3s_server:
  node-ip: "{{ node_ip }}"
  tls-san:
    - "{{ node_domain }}"
  # Disable Docker - this will use the default containerd CRI
  docker: false
  flannel-backend: "host-gw" # This needs to be in quotes
  disable:
    # Disable traefik - using NginX
    - traefik
    # Disable metrics-server - installed with Flux
    - metrics-server
    - local-storage
  disable-network-policy: true
  disable-cloud-controller: true
  disable-kube-proxy: true
  write-kubeconfig-mode: "644"
  # Network CIDR to use for pod IPs
  cluster-cidr: "172.22.0.0/16"
  # Network CIDR to use for service IPs
  service-cidr: "172.24.0.0/16"
  kubelet-arg:
    # Enables the kubelet to gracefully evict pods during a node shutdown
    - "feature-gates=GracefulNodeShutdown=true"
    - "resolv-conf=/run/systemd/resolve/resolv.conf"
  # Required to monitor kube-controller-manager with kube-prometheus-stack
  kube-controller-manager-arg:
    - "bind-address=0.0.0.0"
    - "node-monitor-period=4s"
    - "node-monitor-grace-period=16s"
  # Required to monitor kube-proxy with kube-prometheus-stack
  # kube-proxy-arg:
  #   - "metrics-bind-address=0.0.0.0"
  # Required to monitor kube-scheduler with kube-prometheus-stack
  kube-scheduler-arg:
    - "bind-address=0.0.0.0"
  # Required to monitor etcd with kube-prometheus-stack
  etcd-expose-metrics: true
  # Required for HAProxy health-checks
  kube-apiserver-arg:
    - "anonymous-auth=true"
