{
  "storage": {
    "type": "rclone",
    "config": {
      "remotePath": "dav:/data/maxim/kopia/",
      "startupTimeout": "15s",
      "atomicWrites": true,
      "dirShards": null
    }
  },
  "caching": {
    "cacheDirectory": "/data-rw/kopia-cache",
    "maxCacheSize": 5242880000,
    "maxMetadataCacheSize": 5242880000,
    "maxListCacheDuration": 30
  },
  "hostname": "cluster",
  "username": "root",
  "description": "My cluster",
  "enableActions": true,
  "formatBlobCacheDuration": 900000000000
}
